@import "var";

// ---------------------
//  	  GLOBAL
// ---------------------

body,
html {
	margin: 0;
	padding: 0;
	cursor: url("../static/img/carre.png"), wait;
	scroll-behavior: smooth;
	background-color: $light;
}

a {
	text-decoration: none;
	color: $blue;
}

h2,
h3 {
	font-family: "futura-pt-medium";
	color: $blue;
}

h1 {
	font-family: "petale-bold";
	letter-spacing: 0.1rem;
	color: $blue;
}

// ---------------------
//  	   FONTS
// ---------------------

@font-face {
	font-family: "YoungSerif-Regular";
	src:
		url("../static/font/YoungSerif-Regular.woff2") format("woff2"),
		url("../static/font/YoungSerif-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato-Regular";
	src:
		url("../static/font/Lato/Lato-Regular.woff2") format("woff2"),
		url("../static/font/Lato/Lato-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato-Light";
	src:
		url("../static/font/Lato/Lato-Light.woff2") format("woff2"),
		url("../static/font/Lato/Lato-Light.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "petale-bold";
	src: url("../static/font/petale-bold.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "futura-pt-medium";
	src: url("../static/font/futura-pt-medium.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

// ---------------------
// LOGO AND DESCRIPTION
// ---------------------

.logo-description {
	height: 100vh;
	width: auto;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	.description {
		position: absolute;
		text-align: center;
		justify-content: center;
		flex-direction: column;
		width: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		.title {
			opacity: 0;
			font-size: 7rem;
			margin: 12rem 0 0 0;
			transition: opacity 0.75s ease-in-out;
		}
		#text {
			opacity: 0;
			max-width: 28rem;
			margin: 0 1rem;
			font-family: "Lato-Light";
			transition: opacity 1s ease-in-out;
			transform: translateY(-8rem);
		}
	}

	.canvas-img {
		display: flex;
		height: clamp(300px, 85vh, 85vh);
		img {
			height: 0;
		}
		.canvas {
			height: 85%;
			margin-top: 12vh;
			transition:
			height 1s ease-in-out,
			transform 1s ease-in-out;
		}
	}
}

// ---------------------
// 	   SMALL SCREEN
// ---------------------

@media (max-width: 600px) {
	.logo-description {
		.description {
			.title {
				font-size: 4rem;
				margin: 13rem 0 3.5rem 0;
			}
		}
		.canvas-img {
			height: clamp(300px, 60%, 60%);
			margin-top: 0;
		}
	}
	#menu-cross {
		border: 2px solid $light;
	}
	#menu-lines {
		border: 2px solid black;
	}
}

// ---------------------
// 	  MENU DEROULANT
// ---------------------

.arrow-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	border: none;
	background-color: $light;
	.anchor-arrow-bottom {
		#arrow-bottom {
			height: 6rem;
			width: 3rem;
			transform: rotate(90deg);
		}
	}
}


// ---------------------
// 	  MENU DEROULANT
// ---------------------

.menu {
	position: fixed;
	top: 2rem;
	left: 2rem;
	border: none;
	background-color: inherit;
	padding: 0;
	z-index: 2000;
	
	img {
		// position: fixed;
		// top: 2rem;
		// left: 2rem;
		cursor: pointer;
		height: 2rem;
		width: auto;
	}
	
	#menu-cross {
		background-color: rgba($color: $blue, $alpha: 0.9);
		display: none;
		padding: 0.2rem 0.4rem;
		background-color: none;
	}

	#menu-lines {
		display: block;
		padding: 0.2rem 0.4rem;
		background-color: transparent;
	}
}

.menu-content {
	background-color: rgba($color: $blue, $alpha: 0.9);
	position: fixed;
	top: 0;
	left: -500px;
	display: flex;
	flex-direction: column;
	width: clamp(250px, 65vw, 350px);
	height: 100vh;
	transition: left 0.2s ease-out;
	z-index: 200;

	div {
		margin: 6rem 0 0 2rem;

		h2 {
			font-family: "Lato-Regular";
			font-size: x-large;
			padding: 1rem 0;
			margin: 0;
			// color: $light;
		}
	}
}

.menu-content div a h2 {
	//Couleur de texte par défaut
	color: $light;
	transition: color 0.2s ease-out;
}

.menu-content div a:hover h2 {
	color: $rust;
	/* Couleur de texte au survol */
}

.menu-content div:not(:hover) a h2 {
	color: $light;
	/* Couleur du texte lorsque rien n'est survolé */
}

// p-e changer les couleurs pour avoir que
// tous deviennent une couleur a part celui qui est selectionné

// ---------------------
// 		   IMAGES
// ---------------------

.images {
	display: none;
	overflow: hidden;
	justify-content: center;

	img {
		margin: 1rem;
		height: 90vh;
	}
}

// ---------------------
// 		  HORAIRES
// ---------------------

.schedule {
	display: flex;
	justify-content: center;
	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		max-width: calc(600px - 2rem);
		margin: 2rem 1rem;
		padding: 2rem;
		border: 0.1rem solid $blue;

		h3 {
			margin: 0;
			// width: 50vw;
		}

		.calendar {
			width: 50%;
		}
	}
}

.anchor {
	position: absolute;
	transform: translateY(-40vh);
}

// ---------------------
// 		 CAROUSEL
// ---------------------

.carousel {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	margin: 3rem 0;

	.carousel-imgs {
		display: flex;
		justify-content: center;
		width: clamp(200px, 90vw, calc(600px + 2rem));
		height: clamp(300px, calc(90vw * 1.25), calc((600px + 2rem) * 1.25)); // changer la taille !!!
		overflow: hidden;

		.carousel-img {
			height: 100%;
			width: 100%;
			display: none;
			object-fit: cover;
		}

		#carousel-1 {
			display: inline;
		}
	}

	.arrow {
		background-color: inherit;
		border: none;
		margin: 0 0.5rem;

		img {
			height: 3rem;
		}

		user-select: none;
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}

	#arrow-left {
		transform: scaleX(-1);
	}

	@media (max-width: 600px) {
		.arrow {
			margin: 0;
			padding: 0;
			display: flex;
			justify-content: space-around;
			// position: absolute;
			// top: ;
		}
		#arrow-left {
			left: 0;
		}
		#arrow-right {
			right: 0;
		}
	}
}

// ---------------------
// 		WHITE BOX
// ---------------------

.box {
	width: 1rem;
	height: 15rem;
}

// NOTES

// border autour des trois barres de menu pour le voir quand on est sur petit écran
// fleches dans les images pour changer quand on est sur tel
// faire que sur téléphone on doit pas attendre 2 sec et sur ordi oui

// faire monter le logo un peu plus haut (translation)
// faire descendre le texte
