@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
  cursor: url("../static/charte/mouse1.png"), wait;
  scroll-behavior: smooth;
  background-color: #dbe3e1;
}

a {
  text-decoration: none;
  color: #00333b;
}

h1 {
  font-family: "petale-bold";
  letter-spacing: 0.1rem;
  color: #00333b;
}

h2 {
  font-family: "futura-medium";
  color: #00333b;
}

h3 {
  font-family: "futura-light";
  color: #00333b;
}

button {
  color: #00333b;
  border: 2px solid #00333b;
  font-family: "futura-medium";
  font-size: 1.1em;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

img,
object {
  overflow: hidden;
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("../static/font/YoungSerif-Regular.woff2") format("woff2"), url("../static/font/YoungSerif-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../static/font/Lato/Lato-Regular.woff2") format("woff2"), url("../static/font/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../static/font/Lato/Lato-Light.woff2") format("woff2"), url("../static/font/Lato/Lato-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "petale-bold";
  src: url("../static/font/petale-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "futura-medium";
  src: url("../static/font/futura-medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "futura-light";
  src: url("../static/font/futura-light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
.logo-description {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.logo-description .canvas-img {
  display: flex;
  height: clamp(300px, 40rem, 40rem);
}
.logo-description .canvas-img img {
  height: 0;
}
.logo-description .canvas-img .canvas {
  height: 70%;
  margin-top: 4rem;
  transition: height 1s ease-in-out, transform 1s ease-in-out;
}
.logo-description .description {
  position: absolute;
  text-align: center;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-description .description .title {
  opacity: 0;
  font-size: 7rem;
  margin: 12rem 0 0 0;
  transition: opacity 0.75s ease-in-out;
}
.logo-description .description #text {
  opacity: 0;
  max-width: 28rem;
  margin: 0 1rem;
  font-family: "Lato-Light";
  transition: opacity 1s ease-in-out;
  transform: translateY(-8rem);
}
.logo-description .arrow-bottom {
  justify-self: flex-end;
  justify-content: flex-end;
  border: none;
  background-color: transparent;
  margin-bottom: 2rem;
  overflow: visible;
  z-index: 3000;
}
.logo-description .arrow-bottom .anchor-arrow-bottom #arrow-bottom {
  width: 3rem;
}

@keyframes shake {
  0% {
    transform: rotate(-35deg);
  }
  25% {
    transform: rotate(-40deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(-35deg);
  }
}
@media (max-width: 600px) {
  .logo-description .description .title {
    font-size: 4rem;
  }
  .logo-description .description #text {
    transform: translateY(-5rem);
  }
  .logo-description .canvas-img {
    height: clamp(300px, 30rem, 30rem);
  }
  .logo-description .arrow-bottom {
    margin-top: auto;
  }
  #menu-cross {
    border: 2px solid #dbe3e1;
  }
  #menu-lines {
    border: 2px solid #00333b;
    background-color: #dbe3e1;
  }
}
.menu {
  position: fixed;
  top: 2rem;
  left: 2rem;
  border: none;
  background-color: transparent;
  padding: 0;
  z-index: 2000;
}
.menu img {
  cursor: pointer;
  height: 2rem;
  width: auto;
}
.menu #menu-cross {
  display: none;
  padding: 0.2rem 0.4rem;
  background-color: none;
}
.menu #menu-lines {
  display: block;
  padding: 0.2rem 0.4rem;
}

.menu-content {
  background-color: rgba(0, 51, 59, 0.9);
  position: fixed;
  top: 0;
  left: -500px;
  display: flex;
  flex-direction: column;
  width: clamp(250px, 65vw, 350px);
  height: 100vh;
  transition: left 0.2s ease-out;
  z-index: 200;
  justify-content: space-between;
}
.menu-content div {
  margin: 6rem 0 0 2rem;
}
.menu-content div h2 {
  font-family: "Lato-Regular";
  font-size: x-large;
  padding: 1rem 0;
  margin: 0;
}

.menu-content div a h2 {
  color: #dbe3e1;
  transition: color 0.2s ease-out;
}

.menu-content div a:hover h2 {
  color: #a73c00;
  /* Couleur de texte au survol */
}

.menu-content div:not(:hover) a h2 {
  color: #dbe3e1;
  /* Couleur du texte lorsque rien n'est survolé */
}

.menu-content .social-media-menu {
  justify-self: flex-end;
  display: flex;
  margin: 0 0 2rem 2rem;
  justify-content: flex-start;
  gap: 1rem;
}
.menu-content .social-media-menu img {
  filter: invert(1);
  height: 2.5rem;
}

.schedule {
  display: flex;
  justify-content: center;
}
.schedule > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: calc(500px - 2rem);
  margin: 2rem 1rem;
  padding: 2rem;
  border: 0.1rem solid #00333b;
}
.schedule > div h3 {
  margin: 0;
}
.schedule .scheduleText3-4 {
  padding-top: 1.5rem;
}
.schedule .scheduleText3-4 #scheduleText3 {
  width: 50%;
}
.schedule .scheduleText3-4 #special-word {
  border: 0.1rem solid #00333b;
  padding: 0.25rem 0.5rem;
  font-family: "futura-medium";
}
.schedule .scheduleText3-4 #scheduleText4 {
  border: 0.1rem solid #00333b;
  padding: 0.25rem 0.5rem;
  font-family: "futura-medium";
}

.anchor {
  position: absolute;
  transform: translateY(-50vh);
}

#contact div div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.5rem;
}
#contact div div .contact-images {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
#contact div div .contact-images img {
  height: 2.3rem;
}
#contact div div .contact-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
}
#contact div div .contact-text h2 {
  padding-top: 0.3rem;
  margin: 0 auto 0 0;
  height: 2rem;
}

#catering div {
  width: 100%;
}
#catering div form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
#catering div form textarea {
  box-sizing: border-box;
  width: 50%;
  padding: 0.5rem;
  resize: none;
  border: 2px solid #00333b;
  font-family: "futura-medium";
  font-size: 1em;
  color: #00333b;
}
#catering div form textarea::-moz-placeholder {
  color: rgba(0, 51, 59, 0.5);
}
#catering div form textarea::placeholder {
  color: rgba(0, 51, 59, 0.5);
}
#catering div form textarea:focus,
#catering div form textarea:active {
  outline: none;
}
#catering div form #emailForm {
  width: 100%;
}
#catering div form #descriptionForm {
  width: 100%;
  max-height: 10em;
}
#catering div form button {
  height: 2.5rem;
  background-color: white;
  width: 50%;
  margin-left: auto;
}

@media (max-width: 600px) {
  textarea {
    width: 100% !important;
  }
}
#face1 {
  display: flex;
  width: 6rem;
  transform: rotate(90deg) translate(-15rem, 0.3rem);
  position: absolute;
  left: -100px;
  transition: left 0.2s ease-in-out;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 3rem 0;
}
.carousel .carousel-imgs {
  display: flex;
  justify-content: center;
  width: clamp(200px, 90vw, 500px + 2rem);
  height: clamp(300px, 112.5vw, (500px + 2rem) * 1.25);
  overflow: hidden;
}
.carousel .carousel-imgs .carousel-img {
  height: 100%;
  width: 100%;
  display: none;
  -o-object-fit: cover;
     object-fit: cover;
}
.carousel .carousel-imgs #carousel-1 {
  display: inline;
}
.carousel .arrow {
  background-color: inherit;
  border: none;
  margin: 0 0.5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.carousel .arrow img {
  height: 3rem;
}
.carousel #arrow-left {
  transform: scaleX(-1);
}
@media (max-width: 600px) {
  .carousel .carousel-imgs {
    width: 95vw;
  }
  .carousel .arrow {
    z-index: 1;
    width: auto;
    height: auto;
    filter: invert(1);
  }
  .carousel #arrow-left {
    position: absolute;
    margin-right: auto;
    margin-left: 1.5rem;
    left: 0;
  }
  .carousel #arrow-right {
    position: absolute;
    right: 0;
    margin-left: auto;
    margin-right: 1.5rem;
  }
}

.dessin-perso {
  padding: 2rem;
  overflow-x: clip;
}
.dessin-perso .characters {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4rem;
}
.dessin-perso .characters img {
  max-width: 250px;
  height: auto;
}
.dessin-perso .characters .charlotte #charlotteBubble {
  opacity: 0;
  position: absolute;
  transform: translate(-5rem, -3rem);
  transition: opacity 0.1s linear;
}

@media (max-width: 600px) {
  .charlotte {
    transform: translate(60vw, 8rem) rotate(-40deg);
  }
  .charlotte #charlotteBubble {
    width: 80%;
    height: auto;
    margin: 2rem 0 0 2rem;
  }
  .charles {
    transform: translate(-60vw, -4rem) rotate(45deg);
  }
}
.terrasse {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  background-color: transparent;
  flex-direction: column;
  width: 100%;
  background-color: transparent;
  height: -moz-fit-content;
  height: fit-content;
  overflow-x: clip;
}
.terrasse .top-layer {
  z-index: 1;
  margin-top: -37.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.terrasse .top-layer .front {
  height: auto;
  width: 100vw;
  max-width: 600px;
}
.terrasse .top-layer .terrasse-tables {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}
.terrasse .top-layer .terrasse-tables .table1 {
  width: 75vw;
  max-width: 500px;
}
.terrasse .top-layer .terrasse-tables .table2 {
  width: 60vw;
  max-width: 350px;
  transform: translate(6rem, -4rem);
}
.terrasse .terrasse-shadow {
  margin-top: 24rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.terrasse .terrasse-shadow .sol1 {
  max-width: 825px;
  transform: translate(1rem, 1rem);
  margin-top: -10rem;
}
.terrasse .terrasse-shadow .sol2 {
  transform: translate(2rem, 0);
  max-width: 610px;
}

.custom-dropdown {
  width: -moz-fit-content;
  width: fit-content;
  color: #00333b;
  font-family: "futura-medium";
  font-size: x-large;
  display: flex;
  position: fixed;
  right: 2rem;
  top: 2rem;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.custom-dropdown button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  padding: 0;
  background-color: inherit;
  color: #00333b;
  font-family: "futura-medium";
  font-size: x-large;
}
.custom-dropdown button:hover {
  color: #a73c00;
}
.custom-dropdown .dropdown-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.custom-dropdown .dropdown-list li {
  cursor: pointer;
}
.custom-dropdown .active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.custom-dropdown .active li:hover {
  color: #a73c00;
}

#languageSelector:focus {
  outline: none;
}

@media (max-width: 600px) {
  .custom-dropdown {
    align-items: center;
  }
  .custom-dropdown button {
    width: 3rem;
    padding: 0.25rem 0;
    border: 2px solid #00333b;
    background-color: #dbe3e1;
  }
}
.svg {
  display: flex;
  margin: 0 auto;
  max-width: 600px;
}

@media (max-width: 600px) {
  .terrasse {
    width: 99vw;
    height: auto;
  }
  .svg {
    max-width: 200px;
  }
}
.box {
  width: 1rem;
  height: 5rem;
}/*# sourceMappingURL=style.css.map */