@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0;
  cursor: url("../static/img/carre.png"), wait;
}

a {
  text-decoration: none;
  color: black;
}

h2,
h3 {
  font-family: "Lato-Light";
}

h1 {
  font-family: "YoungSerif-Regular";
  letter-spacing: 0.1rem;
}

@font-face {
  font-family: "YoungSerif-Regular";
  src: url("../static/font/YoungSerif-Regular.woff2") format("woff2"), url("../static/font/YoungSerif-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Regular";
  src: url("../static/font/Lato/Lato-Regular.woff2") format("woff2"), url("../static/font/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato-Light";
  src: url("../static/font/Lato/Lato-Light.woff2") format("woff2"), url("../static/font/Lato/Lato-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.navbar {
  position: fixed;
  top: -100px;
  left: 0;
  height: 3.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: top 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 0.1rem solid rgb(197, 22, 22);
  z-index: 2;
}
.navbar h1 {
  margin: 0 5rem;
}

.title {
  font-family: "YoungSerif-Regular";
  letter-spacing: 0.7rem;
}

.logo-description {
  width: clamp(400px, 90%, 600px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.logo-description .description {
  position: absolute;
  text-align: center;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
}
.logo-description .description .title {
  opacity: 0;
  font-size: 7rem;
  margin: 0;
  transition: opacity 0.5s ease-in-out;
}
.logo-description .description #text {
  opacity: 0;
  width: 30rem;
  margin: 0;
  font-family: "Lato-Light";
  transition: opacity 0.5s ease-in-out;
}
.logo-description .center-logo img {
  height: 0;
}
.logo-description .canvas {
  position: relative;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: none;
  background-color: inherit;
  padding: 0;
}
.menu img {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  height: 2rem;
  width: auto;
}
.menu #menu-cross {
  display: none;
  z-index: 1;
}
.menu #menu-lines {
  z-index: 1;
  display: block;
}

.menu-content {
  background-color: rgba(231, 72, 43, 0.7);
  position: absolute;
  top: 0;
  left: -500px;
  flex-direction: column;
  width: 35vw;
  max-width: 400px;
  height: 250vh;
  transition: left 0.3s ease-in-out;
}
.menu-content div {
  margin: 6rem 0 0 2rem;
}
.menu-content div h2 {
  font-family: "Lato-Regular";
  font-size: x-large;
  padding: 1rem 0;
  margin: 0;
}

.menu-content div a {
  color: black; /* Couleur de texte par défaut */
  transition: color 0.3s ease-in-out;
}

.menu-content div a:hover {
  color: white; /* Couleur de texte au survol */
}

.menu-content div:not(:hover) a {
  color: black; /* Couleur du texte lorsque rien n'est survolé */
}

.images {
  display: none;
  overflow: hidden;
  justify-content: center;
}
.images img {
  margin: 1rem;
  height: 90vh;
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(400px, 95vw, 600px - 2rem);
  margin: 2rem auto;
  padding: 2rem;
  border: 0.1rem solid black;
}
.schedule h3 {
  margin: 0;
}
.schedule .calendar {
  width: 50%;
}

.anchor {
  position: absolute;
  transform: translateY(-40vh);
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 3rem 0;
}
.carousel .carousel-imgs {
  display: flex;
  justify-content: center;
}
.carousel .carousel-imgs .carousel-img {
  width: clamp(200px, 90%, 800px);
  display: none;
}
.carousel .carousel-imgs #carousel-1 {
  display: inline;
}
.carousel .arrow {
  background-color: inherit;
  border: none;
  margin: 0 0.5rem;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.carousel .arrow img {
  height: 3rem;
}
.carousel #arrow-left {
  transform: scaleX(-1);
}

.box {
  width: 1rem;
  height: 15rem;
}/*# sourceMappingURL=style.css.map */